@media only screen and (min-width:1024px) {
  html {
    font-family: webgame;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: url('../images/pawcursor.svg'), auto;
  }
  html:active {
    cursor: url('../images/pawactive.svg'), auto;
  }
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FF7596;
    transition: all 0.7s ease-out;

  }
  /* моё имячко */
  #me {
    position: absolute;
    bottom: 1%;
    left:45%;
    font-size: 1.3vw;
    font-style: normal;
    color: #F05A7E;
  }
  /* класс с отключением блоков */
  .hide {
    display: none;
  }
  /* все блоки */
  .zero, .first, .second, .third, .open {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /* блок открывашка */
  .open {
    background-color: #FF7596;
    z-index: 4;
  }
  /* логотипчек */
  .logo {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 35%;
    left: 40%;

  }
  .sca {
    animation: 2s logo linear infinite;
  }
  @keyframes logo {
    0% {transform: scale(1); opacity: 0.8;}
    50% {transform: scale(1.1); opacity: 1;}
    100% {transform: scale(1); opacity: 0.8;}
  }
  /* бегущая строчка */
  .runningstroke {
    position: absolute;
    top:50%;
    margin-top: -12.5vw;
    font-style: italic;
    font-size: 37vw;
    line-height: 374px;
    color: #DEFFFF;
    animation: text 8s linear -0.5s infinite;
    transition: all .5s ease-out;
  }
  @keyframes text {
    0% {transform: translateX(-1.389vw)}
    100% {transform: translateX(-50%)}
  }
  /* кнопочки к блокам */
  .knopka1, .knopka2, .knopka3 {
    position: absolute;
    border-radius: 50%;
    width: 20.833vw;
    height: 20.833vw;
    z-index: 0;
  }
  .knopka1 img, .knopka2 img, .knopka3 img {
    position: absolute;
    z-index: 1;
  }
  .knop1, .knop2, .knop3 {
    position: absolute;
    border-radius: 50%;
    width: 20.833vw;
    height: 20.833vw;
    transition: all .3s ease-out;
    z-index: 0;
  }
  .knop1 {
    background: #FFF3E8;
  }
  .knop2 {
    background: #FFDCE9;
  }
  .knop3 {
    background: #E9FFE3;
  }
  .knopka1 {
    top: -5%;
    right: 10%;
  }
  .knopka1 img {
    overflow: scroll;
    width: 33%;
    height: 33%;
  }
  .knopka1 img:nth-of-type(1) {
    top: 18%;
    left: 35%;
  }
  .knopka1 img:nth-of-type(2) {
    top: 45%;
    left: 17%;
    transform: rotate(-15deg);
  }
  .knopka1 img:nth-of-type(3) {
    top: 48%;
    right: 19%;
    transform: rotate(15deg);
  }
  .knopka2 {
    top: 50%;
    margin-top: -10.4vw;
    right: 25%;
  }
  .knopka2 img {
    overflow: scroll;
    width: 33%;
    height: 33%;
  }
  .knopka2 img:nth-of-type(1) {
    position: absolute;
    top: 25%;
    right: 19%;
  }
  .knopka2 img:nth-of-type(2) {
    position: absolute;
    top: 25%;
    left: 19%;
  }
  .knopka2 img:nth-of-type(3) {
    position: absolute;
    top: 49%;
    left: 33%;;
  }
  .knopka3 {
    bottom: -5%;
    right: 10%;
  }
  .knopka3 img {
    overflow: scroll;
    width: 31%;
    height: 31%;
  }
  .knopka3 img:nth-of-type(1) {
    position: absolute;
    top: 18%;
    left: 35%;
  }
  .knopka3 img:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 17%;
  }
  .knopka3 img:nth-of-type(3) {
    position: absolute;
    top: 48%;
    right: 19%;
    transform: rotate(90deg);
  }
  /* кнопочки назад и памагити */
  .back1, .help1, .back2, .help2, .back3, .help3 {
    position: absolute;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    transition: all .3s ease-out;
  }
  .backy1, .helpy1, .backy2, .helpy2, .backy3, .helpy3 {
    position: absolute;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    background: #FF7596;
    z-index: 0;
    transition: all .3s ease-out;
  }
  .back1, .back2, .back3 {
    left: 1%;
    bottom: 2%;
    top: auto;
  }
  .help1, .help2, .help3 {
    left: 8%;
    bottom: 2%;
    top: auto;
  }
  .back1 img, .help1 img, .back2 img, .help2 img, .back3 img, .help3 img {
    z-index: 1;
  }
  .back1 img, .back2 img, .back3 img{
    height: 100%;
    width: 75%;
  }
  .help1 img, .help2 img, .help3 img{
    height: 100%;
    width: 45%;
  }
  /* плашечки с уведомлениями */
  .tablet, .ok {
    position: absolute;
    height: 18.611vw;
    width: 38.333vw;
    border-radius: 5vw;
    left: 50%;
    margin-left: -17.5vw;
    bottom: 16vw;
    z-index: 3;
  }
  .ok0 {
    position:absolute;
    width: 900%;
    top:-400%;
    left:-200%;
    height: 800%;
    background:#FF7596;
    opacity: 0.8;
  }
  .tablet1, .ok1 {
    position: absolute;
    height: 5vw;
    width:5vw;
    top:3%;
    left: 25.2vw;
    background-color: transparent;
  }
  .ok1 {
    top: auto;
    bottom:3%;
  }
  .tablet1 img, .ok1 img {
    width: 100%;
    height: 100%;
  }
  .tablet2, .ok2 {
    position: absolute;
    top: -6.5%;
    right: 0;
    height: 7.708vw;
    width: 7.708vw;
    border: 0.3vw solid #FF7596 ;
    border-radius: 10vw;
    background: #DEFFFF;
    transition: all .3s ease-out;
  }
  .ok2 {
    top: auto;
    bottom: -6.5%;
  }
  .tablet3, .ok3 {
    position: absolute;
    left: 0;
    bottom: 0;
    height:12.778vw;
    width: 35.069vw;
    border: 0.3vw solid #FF7596 ;
    border-radius: 10vw;
    background: #DEFFFF;
  }
  .ok3 {
    bottom: auto;
    top: 0;
  }
  .tablet3 p, .ok3 p {
    position: absolute;
    top: 24%;
    left: 3vw;
    font-size: 2.5vw;
    line-height: 3vw;
    color: #FF7596;
    font-style: normal;
  }
  .ok:first-of-type p {
    top: 36%;
  }
  .tablet2 img, .ok2 img{
    position: absolute;
    height: 100%;
    width: 45%;
    left: 2vw;
    transition: all .3s ease-out;
  }
  .tablet2 img:nth-of-type(2), .ok2 img:nth-of-type(2){
    opacity: 0;
    transition: all .3s ease-out;
  }
  .tablet2 img:hover ~ .tablet2 img:nth-of-type(2), .ok2 img:hover ~ .ok2 img:nth-of-type(2){
    transition: all .3s ease-out;
  }
  .tablet2 img:nth-of-type(1), .ok2 img:nth-of-type(1){
    transition: all .3s ease-out;
  }
  .tablet2 img:hover ~ .tablet2 img:nth-of-type(1), .ok2 img:hover ~ .ok2 img:nth-of-type(1){
    transition: all .3s ease-out;
  }
  .tablet2:hover, .ok2:hover {
    background:#FF7596;
    transition: all .3s ease-out;
  }
  /* кисятки */
  .cat img:nth-of-type(1) {
    position: absolute;
    z-index: 0;
  }
  .cat img:nth-of-type(2) {
    position: absolute;
    z-index: 2;
  }
  .cat, .cat2, .cat3 {
    position: absolute;
    bottom: -1vw;
    left: 7%;
    width: 26.319vw;
    height: 44.031vw;
  }
  .cat img, .cat3 img {
    width: 100%;
    height: 100%;
  }
  .cat2 img:nth-of-type(1) {
    width: 100%;
    height: 100%;
  }
  #blush {
    position: absolute;
    width: 17vw;
    height: 4.885vw;
    bottom: 68%;
    left: 28%;
    transition: all .3s ease-out;
    opacity: 0;
  }
  /* следящие глазки */
  .look {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 1;
  }
  .eye {
    position: absolute;
    bottom: 72%;
    left:43%;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
  }
  .eye:nth-of-type(2) {
    bottom: 75%;
    left:67%;
  }
  .eye:after {
    position: absolute;
    bottom: 1vw;
    right: 0vw;
    width: 2.2vw;
    height: 2.2vw;
    background: #FF7596;
    border:0.8vw solid #E9FFE3;
    border-radius: 50%;
    content: " ";
  }
  /* начало блока с табличками желаний
  главная табличка */
  .ema {
    position: absolute;
    top:-12%;
    left:50%;
    margin-left: -8.94vw;
    height: 55.681vw;
    width: 17.885vw;
  }
  .ema img {
    width: 100%;
    height:100%;
  }
  .wish {
    position: absolute;
    top: 46%;
    left: 8%;
    width: 14.8vw;
    height: 17vw;
    background-color: transparent;
    border: none;
    font-size: 2vw;
    line-height: 3vw;
    color: #FF7596;
    font-style: normal;
  }
  /* бэкграунд с канатиком и табличками */
  .back_ema img {
    position: absolute;
  }
  .back_ema img:nth-of-type(1) {
    width: 100%;
    top: 0;
    left: 0;
  }
  .back_ema img:nth-of-type(2) {
    width: 3vw;
    height: 4.5vw;
    top: 6vw;
    left:7%;
  }
  .back_ema img:nth-of-type(3) {
    width: 3vw;
    height: 4.5vw;
    top: 8vw;
    left:15%;
  }
  .back_ema img:nth-of-type(4) {
    width: 3vw;
    height: 6vw;
    top: 10vw;
    left:34%;
  }
  .back_ema img:nth-of-type(5) {
    width: 2vw;
    height:4vw;
    top: 4vw;
    left:2%;
  }
  .back_ema img:nth-of-type(6) {
    width: 2vw;
    height: 5.5vw;
    top: 11.5vw;
    left: 43%;
  }
  .back_ema img:nth-of-type(7) {
    width: 4vw;
    height: 6vw;
    top: 9.5vw;
    left:24%;
  }
  .back_ema img:nth-of-type(8) {
    width: 3vw;
    height: 4.5vw;
    top: 11.5vw;
    left:53%;
  }
  .back_ema img:nth-of-type(9) {
    width: 3vw;
    height: 4.5vw;
    top: 9.5vw;
    left:71%;
  }
  .back_ema img:nth-of-type(10) {
    width: 3vw;
    height: 6vw;
    top: 8.5vw;
    left:78%;
  }
  .back_ema img:nth-of-type(11) {
    width: 2vw;
    height:4vw;
    top: 10.5vw;
    left:62%;
  }
  .back_ema img:nth-of-type(12) {
    width: 2.5vw;
    height: 6vw;
    top: 4vw;
    left:96%;
  }
  .back_ema img:nth-of-type(13) {
    width: 4vw;
    height: 6vw;
    top: 6.5vw;
    left:87%;
  }
  /* начало блока со счастливыми йенами
  котик манеки неко */
  .nekocat {
    position: absolute;
    top: 50%;
    margin-top: -17%;
    left:38%;
    width: 24vw;
    height: 39.167vw;
    z-index: 1;
  }
  .nekocat img:nth-of-type(1) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .nekocat img:nth-of-type(2) {
    position: absolute;
    width: 28%;
    height: 100%;
    top: -2%;
    left: -3%
  }
  .nekocat img:nth-of-type(3) {
    display: none;
    position: absolute;
    width: 35%;
    height: 30%;
    top: 39.5%;
    left: -3%;
  }
  /* йены */
  .yen {
    position: absolute;
    top: -15vw;
    width: 15vw;
    height: 15vw;
  }
  .yeny{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .yen img {
    width: 100%;
    height: 100%;
  }
  /* начало блока с сакурой
  счетчик сакуры */
  .count_sak {
    position: absolute;
    left: 3%;
    top: 4%;
  }
  .count_sak h4 {
    font-family: webgame_1;
    font-size: 96px;
    line-height: 115px;
    letter-spacing: 0.415em;
    font-style: bold;
    color: #FF7596;
  }
  /* деревцо */
  .tree {
    position: absolute;
    top: 0;
    right: 0;
    width: 65.625vw;
    height: 40.556vw;
    transform: none;
  }
  .tree img {
    width: 100%;
    height: 100%;
  }
  .sakura img {
    position: absolute;
    width: 4.7vw;
    height: 4.7vw;
  }
  .sakura img:nth-of-type(1) {
    top: 10vw;
    right: 10vw;
  }
  .sakura img:nth-of-type(2) {
    top: 10vw;
    right: 0vw;
  }
  .sakura img:nth-of-type(3) {
    top: -1vw;
    right: 42vw;
  }
  .sakura img:nth-of-type(4) {
    top: 5vw;
    right: 54vw;
  }
  .sakura img:nth-of-type(5) {
    top: 6vw;
    right: 51vw;
  }
  .sakura img:nth-of-type(6) {
    top: 19vw;
    right: 38vw;
  }
  .sakura img:nth-of-type(7) {
    top: 16vw;
    right: 40vw;
  }
  .sakura img:nth-of-type(8) {
    top: 5vw;
    right: 41vw;
  }
  .sakura img:nth-of-type(9) {
    top: 1vw;
    right: 1vw;
  }
  .sakura img:nth-of-type(10) {
    top: -2vw;
    right: 25vw;
  }
  .sakura img:nth-of-type(11) {
    top: 21vw;
    right: 54vw;
  }
  .sakura img:nth-of-type(12) {
    top: 18vw;
    right: 49vw;
  }
  .sakura img:nth-of-type(13) {
    top: -2vw;
    right: 7vw;
  }
  .sakura img:nth-of-type(14) {
    top: 1vw;
    right: 10vw;
  }
  .sakura img:nth-of-type(15) {
    top: 3vw;
    right: 7vw;
  }
  .sakura img:nth-of-type(16) {
    top: 0vw;
    right: 22vw;
  }
  .sakura img:nth-of-type(17) {
    top: 4vw;
    right: 0vw;
  }
  .sakura img:nth-of-type(18) {
    top: 15vw;
    right: 1vw;
  }
  .sakura img:nth-of-type(19) {
    top: 4vw;
    right: 27vw;
  }
  .sakura img:nth-of-type(20) {
    top: 7vw;
    right: 12vw;
  }
  .sakura img:nth-of-type(21) {
    top: 13vw;
    right: 25vw;
  }
  .sakura img:nth-of-type(22) {
    top: -3vw;
    right: 37vw;
  }
  .sakura img:nth-of-type(23) {
    top: 8vw;
    right: 55vw;
  }
  .sakura img:nth-of-type(24) {
    top: 24vw;
    right: 57vw;
  }
  .sakura img:nth-of-type(25) {
    top: 19vw;
    right: 9vw;
  }
  .sakura img:nth-of-type(26) {
    top: 10vw;
    right: 49vw;
  }
  .sakura img:nth-of-type(27) {
    top: 9vw;
    right: 6vw;
  }
  .sakura img:nth-of-type(28) {
    top: 7vw;
    right: 31vw;
  }
  .sakura img:nth-of-type(29) {
    top: 6vw;
    right: 19vw;
  }
  .sakura img:nth-of-type(30) {
    top: 13vw;
    right: 51vw;
  }
  .sakura img:nth-of-type(31) {
    top: 3vw;
    right: 23vw;
  }
  .sakura img:nth-of-type(32) {
    top: -1vw;
    right: 14vw;
  }
  .sakura img:nth-of-type(33) {
    top: 13vw;
    right: 63vw;
  }
  .sakura img:nth-of-type(34) {
    top: 17vw;
    right: 53vw;
  }
  .sakura img:nth-of-type(35) {
    top: 12vw;
    right: 14vw;
  }
  .sakura img:nth-of-type(36) {
    top: 15vw;
    right: 28vw;
  }
  .sakura img:nth-of-type(37) {
    top: 26vw;
    right: 53vw;
  }
  .sakura img:nth-of-type(38) {
    top: 18vw;
    right: 43vw;
  }
  .sakura img:nth-of-type(39) {
    top: 15vw;
    right: 45vw;
  }
  .sakura img:nth-of-type(40) {
    top: 24vw;
    right: 50vw;
  }
  .sakura img:nth-of-type(41) {
    top: 0vw;
    right: 38vw;
  }
  .sakura img:nth-of-type(42) {
    top: 14vw;
    right: 57vw;
  }
  .sakura img:nth-of-type(43) {
    top: 28vw;
    right: 55vw;
  }
  .sakura img:nth-of-type(44) {
    top: 11vw;
    right: 55vw;
  }
  .sakura img:nth-of-type(45) {
    top: 22vw;
    right: 3vw;
  }
  .sakura img:nth-of-type(46) {
    top: -3vw;
    right: 46vw;
  }
  .sakura img:nth-of-type(47) {
    top: 4vw;
    right: 14vw;
  }
  .sakura img:nth-of-type(48) {
    top: 12vw;
    right: 42vw;
  }
  .sakura img:nth-of-type(49) {
    top: 12vw;
    right: 28vw;
  }
  .sakura img:nth-of-type(50) {
    top: 3vw;
    right: 19vw;
  }
  .sakura img:nth-of-type(51) {
    top: 12vw;
    right: 34vw;
  }
  .sakura img:nth-of-type(52) {
    top: 3vw;
    right: 33vw;
  }
  /* всякие анимашки css */
  .knopka1 img:hover ~ .knop1, .knop1:hover, .knopka2 img:hover ~ .knop2, .knop2:hover, .knopka3 img:hover ~ .knop3, .knop3:hover{
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
  .back1 img:hover ~ .backy1, .backy1:hover, .help1 img:hover ~.helpy1, .helpy1:hover, .back2 img:hover ~ .backy2, .backy2:hover, .help2 img:hover ~.helpy2, .helpy2:hover, .back3 img:hover ~ .backy3, .backy3:hover {
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
  .help3 img:hover ~ .helpy3, .helpy3:hover, .tablet3 img:hover {
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
  .knop {
    animation: knopka 2s linear;
  }

  @keyframes knopka {
    0% {}
    100% {transform: scale(13); }
  }
  .backy {
    animation: arrow 2s linear;
  }
  @keyframes arrow {
    0% {}
    100% {transform: scale(70); }
  }
  .opac {
    animation: opac 2s linear;
  }
  .show {
    animation: show 2s linear;
  }
  .showe1, .showe2, .showe3, .showe4 {
    animation: show 2s linear;
    animation-play-state: paused;
  }
  @keyframes opac {
    0% {opacity: 1}
    20% {opacity: 1}
    60%{opacity: 0}
    100% {opacity: 0}
  }
  @keyframes show {
    0% {opacity: 0}
    70%{opacity: 0}
    100% {opacity: 1}
  }
  .show-tablet {
    animation: show-tablet 2s linear;
  }
  @keyframes show-tablet {
    0% {opacity: 0}
    60% {opacity: 1}
    100% {opacity: 1}
  }
  .back_ema img {
    transition: all .3s ease-out;
  }
  .back_ema img:hover {
    transform: rotate(-20deg);
    transition: all .3s ease-out;
  }
  .back_ema img:nth-of-type(1):hover {
    transform: rotate(0deg);
  }
  .up {
    animation: up 2s ease-out;
  }
  @keyframes up {
    0% {top:-12%}
    60% {top: -120%}
  }
  .down {
    animation: down 2s ease-in;
  }
  @keyframes down {
    0% {top:-120%}
    60% {top: -12%}
  }
  .coinx {
    animation: coinx 0.5s alternate infinite linear;
  }
  .coiny {
    animation: coiny 1.5s normal forwards linear;
  }
  @keyframes coinx {
    0% {transform: translateX(-20vw)}
    100% {transform: translateX(90vw);}
  }
  @keyframes coiny {
    0% {top: -30%; transform: rotate(0deg);}
    100% {top: 130%; transform: rotate(180deg); }
  }
  .sakura img {
    transition: all .1s ease-out;
  }
  .sakura img:hover {
    transform: scale(1.1);
    transition: all .1s ease-out;
  }
  .fall {
    animation: fall 4s normal forwards linear;
  }
  @keyframes fall {
    0% {}
    25%{transform:translateX(2vw) rotate(25deg)}
    50%{transform:translateX(-2vw) rotate(50deg)}
    75%{transform:translateX(2vw) rotate(75deg)}
    100% {top:140%; transform:translateX(-2vw) rotate(100deg)}
  }
}
