@font-face {
  font-family: "webgame";
  src: url("../fonts/TildaSans.ttf");
  src: local("TildaSans-Regular"),
  url("../fonts/TildaSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "webgame";
  src: url("../fonts/YUNGA.otf");
  src: local("YUNGA Display", "YUNGA"),
  url("../fonts/YUNGA.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "webgame_1";
  src: url("../fonts/Pilowlava.otf");
  src: local("Pilowlava-Regular", "Pilowlava"),
  url("../fonts/Pilowlava.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
