@media only screen and (max-width:499px) {
  html {
    font-family: webgame;
    width:100%;
    height: 100%;
    overflow: hidden;
    cursor: url('../images/pawcursor.svg'), auto;
  }
  html:active {
    cursor: url('../images/pawactive.svg'), auto;
  }
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FF7596;
    transition: all 0.7s ease-out;
  }
  /* моё имячко */
  #me {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 5vw;
    font-style: normal;
    color: #F05A7E;
  }
  /* класс чтобы все прятать */
  .hide {
    display: none;
  }
  /* секции */
  .zero, .first, .second, .third, .open {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /* блок открывашка */
  .open {
    background-color: #FF7596;
    z-index: 4;
  }
  /* логотеп */
  .logo {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 35%;
    left: 40%;

  }
  .sca {
    animation: 2s logo linear infinite;
  }
  @keyframes logo {
    0% {transform: scale(1); opacity: 0.8;}
    50% {transform: scale(1.1); opacity: 1;}
    100% {transform: scale(1); opacity: 0.8;}
  }
  /* бегущая строка */
  .runningstroke {
    position: absolute;
    top: 50%;
    margin-top: -70vw;
    font-style: italic;
    font-size: 120vw;
    line-height: 374px;
    color: #DEFFFF;
    animation: text 8s linear -0.5s infinite;
    transition: all .5s ease-out;
  }
  @keyframes text {
    0% {transform: translateX(-1.389vw)}
    100% {transform: translateX(-50%)}
  }
  /* кнопки */
  .knopka1, .knopka2, .knopka3 {
    position: absolute;
    border-radius: 50%;
    width: 32vw;
    height: 32vw;
    z-index: 0;
  }
  .knopka1 img, .knopka2 img, .knopka3 img {
    position: absolute;
    z-index: 1;
  }
  .knop1, .knop2, .knop3 {
    position: absolute;
    border-radius: 50%;
    width: 32vw;
    height: 32vw;
    transition: all .3s ease-out;
    z-index: 0;
  }
  .knop1 {
    background: #FFF3E8;
  }
  .knop2 {
    background: #FFDCE9;
  }
  .knop3 {
    background: #E9FFE3;
  }
  .knopka1 {
    bottom: 10%;
    left: -5%;
  }
  .knopka2 {
    right: 50%;
    margin-right: -16vw;
    bottom: 5%;
  }
  .knopka3 {
    bottom: 10%;
    right: -5%;
  }
  .knopka1 img, .knopka2 img, .knopka3 img {
    overflow: scroll;
    width: 50%;
    height: 50%;
  }
  .knopka2 img:nth-of-type(1), .knopka3 img:nth-of-type(1), .knopka1 img:nth-of-type(1) {
    position: absolute;
    top: 25%;
    right: 25%;
  }
  .knopka1 img:nth-of-type(2), .knopka1 img:nth-of-type(3), .knopka2 img:nth-of-type(2), .knopka2 img:nth-of-type(3), .knopka3 img:nth-of-type(2), .knopka3 img:nth-of-type(3) {
    display: none;
  }
  /* кнопки назад и помощь */
  .back1, .help1, .back2, .help2, .back3, .help3 {
    position: absolute;
    border-radius: 50%;
    width:20vw;
    height:20vw;
    display: flex;
    justify-content: center;
    transition: all .3s ease-out;
  }
  .backy1, .helpy1, .backy2, .helpy2, .backy3, .helpy3 {
    position: absolute;
    border-radius: 50%;
    width:20vw;
    height:20vw;
    background: #FF7596;
    z-index: 0;
    transition: all .3s ease-out;
  }
  .back1, .back2, .back3 {
    left: 1%;
    top: 1%;
    bottom: auto;
  }
  .help1, .help2, .help3 {
    left: 23%;
    top: 1%;
    bottom: auto;
  }
  .back1 img, .help1 img, .back2 img, .help2 img, .back3 img, .help3 img {
    z-index: 1;
  }
  .back1 img, .back2 img, .back3 img{
    height: 100%;
    width: 75%;
  }
  .help1 img, .help2 img, .help3 img{
    height: 100%;
    width: 45%;
  }
  .tablet, .ok {
    position: absolute;
    height: 38.503vw;
    width: 79.306vw;
    border-radius: 5vw;
    left: 50%;
    margin-left: -39.9vw;
    top: 14vw;
    z-index: 3;
  }
  .ok0 {
    position:absolute;
    width: 600%;
    top:-200%;
    left:-200%;
    height:800%;
    background:#FF7596;
    opacity: 0.8;
  }
  .tablet1, .ok1 {
    position: absolute;
    height: 12vw;
    width:12vw;
    top:-1.8%;
    left: 50.8vw;
    background-color: transparent;
  }
  .ok1 {
    top: auto;
    bottom:-1.8%;
  }
  .tablet1 img, .ok1 img {
    width: 100%;
    height: 100%;
  }
  .tablet2, .ok2 {
    position: absolute;
    top: -10%;
    right: 0;
    height: 15.947vw;
    width: 15.947vw;
    border: 0.6vw solid #FF7596 ;
    border-radius: 50%;
    background: #DEFFFF;
    transition: all .3s ease-out;
  }
  .ok2 {
    top: auto;
    bottom: -10%;
  }
  .tablet3, .ok3 {
    position: absolute;
    left: 0;
    bottom: 0;
    height:26.435vw;
    width: 72.553vw;
    border: 0.6vw solid #FF7596 ;
    border-radius: 10vw;
    background: #DEFFFF;
  }
  .ok3 {
    bottom: auto;
    top: 0;
  }
  .tablet3 p, .ok3 p {
    position: absolute;
    top: 24%;
    left: 3vw;
    font-size: 5vw;
    line-height: 6vw;
    color: #FF7596;
    font-style: normal;
  }
  .tablet2 img, .ok2 img{
    position: absolute;
    height: 100%;
    width: 45%;
    left: 4.5vw;
    transition: all .3s ease-out;
  }
  .tablet2 img:nth-of-type(2), .ok2 img:nth-of-type(2){
    opacity: 0;
    transition: all .3s ease-out;
  }
  .tablet2 img:hover ~ .tablet2 img:nth-of-type(2), .ok2 img:hover ~ .ok2 img:nth-of-type(2){
    transition: all .3s ease-out;
  }
  .tablet2 img:nth-of-type(1), .ok2 img:nth-of-type(1){
    transition: all .3s ease-out;
  }
  .tablet2 img:hover ~ .tablet2 img:nth-of-type(1), .ok2 img:hover ~ .ok2 img:nth-of-type(1){
    transition: all .3s ease-out;
  }
  .tablet2:hover, .ok2:hover {
    background:#FF7596;
    transition: all .3s ease-out;
  }

  /* котик */
  .cat img:nth-of-type(1) {
    position: absolute;
    z-index: 0;
  }
  .cat img:nth-of-type(2) {
    position: absolute;
    z-index: 2;
  }
  .cat, .cat2, .cat3 {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 77.319vw;
    height: 141.031vw;
    /* !!!!!!!!! */
  }
  .cat img, .cat3 img {
    width: 100%;
    height: 100%;
  }
  .cat2 img:nth-of-type(1) {
    width: 100%;
    height: 100%;
  }
  #blush {
    position: absolute;
    width: 48vw;
    height: 13vw;
    bottom: 68%;
    left: 28%;
    transition: all .3s ease-out;
    opacity: 0;
  }
  /* следящие глазки котика */
  .look {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 1;
  }
  .eye {
    position: absolute;
    bottom: 69%;
    left:44%;
    border-radius: 50%;
    height: 12vw;
    width: 12vw;
  }
  .eye:nth-of-type(2) {
    bottom: 72%;
    left:68%;
  }
  .eye:after {
    position: absolute;
    bottom: 1vw;
    right: 0vw;
    width: 7vw;
    height: 7vw;
    background: #FF7596;
    border:1.2vw solid #E9FFE3;
    border-radius: 50%;
    content: " ";
  }

  /* первая мини-игра */
  .ema {
    position: absolute;
    top: -4%;
    left: 50%;
    margin-left: -26vw;
    height: 164vw;
    width: 52vw;
  }
  }
  .ema img {
    width: 100%;
    height:100%;
  }
  .wish {
    position: absolute;
    top: 46%;
    left: 8%;
    width: 42.8vw;
    height: 50vw;
    background-color: transparent;
    border: none;
    font-size: 5vw;
    line-height: 6vw;
    color: #FF7596;
    font-style: normal;
  }
  .back_ema img {
    position: absolute;
  }
  .back_ema img:nth-of-type(1) {
    width: 250%;
    left: -84%;
    bottom: 24%;
  }
  .back_ema img:nth-of-type(2) {
    width: 7vw;
    height: 10.5vw;
    bottom: 41vw;
    left: 7%;
  }
  .back_ema img:nth-of-type(3) {
    width: 7vw;
    height: 12.5vw;
    bottom: 18vw;
    left: 15%;
  }
  .back_ema img:nth-of-type(4) {
    width: 8vw;
    height: 18vw;
    bottom: 8vw;
    left: 34%;
  }
  .back_ema img:nth-of-type(5) {
    width: 6vw;
    height: 11vw;
    bottom: 9vw;
    left: 2%;
  }
  .back_ema img:nth-of-type(6) {
    width: 5vw;
    height: 14.5vw;
    bottom: 30.5vw;
    left: 43%;
  }
  .back_ema img:nth-of-type(7) {
    width: 9vw;
    height: 14vw;
    bottom: 34.5vw;
    left: 24%;
  }
  .back_ema img:nth-of-type(8) {
    width: 7vw;
    height: 15.5vw;
    bottom: -5.5vw;
    left: 53%;
  }
  .back_ema img:nth-of-type(9) {
    width: 10vw;
    height: 12.5vw;
    bottom: 13.5vw;
    left: 63%;
  }
  .back_ema img:nth-of-type(10) {
    width: 6vw;
    height: 17vw;
    bottom: 33.5vw;
    left: 78%
  }
  .back_ema img:nth-of-type(11) {
    width: 9vw;
    height: 10vw;
    bottom: 35.5vw;
    left: 62%;
  }
  .back_ema img:nth-of-type(12) {
    width: 4.5vw;
    height: 14vw;
    bottom: 24vw;
    left: 93%;
  }
  .back_ema img:nth-of-type(13) {
    width: 9vw;
    height: 14vw;
    bottom: 6.5vw;
    left: 84%;
  }
  .back_ema img {
    transition: all .3s ease-out;
  }
  .back_ema img:hover {
    transform: rotate(-20deg);
    transition: all .3s ease-out;
  }
  .back_ema img:nth-of-type(1):hover {
    transform: rotate(0deg);
  }
  .up {
    animation: up 2s ease-out;
  }
  @keyframes up {
    0% {top:-5%}
    60% {top: -120%}
  }
  .down {
    animation: down 2s ease-in;
  }
  @keyframes down {
    0% {top:-120%}
    60% {top: -5%}
  }
  .nekocat {
    position: absolute;
    top: 50%;
    margin-top: -45%;
    left: 8.5%;
    width: 85vw;
    height: 107.167vw;
    z-index: 1;
  }
  .nekocat img:nth-of-type(1) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .nekocat img:nth-of-type(2) {
    position: absolute;
    width: 28%;
    height: 100%;
    top: -2%;
    left: -3%
  }
  .nekocat img:nth-of-type(3) {
    display: none;
    position: absolute;
    width: 35%;
    height: 30%;
    top: 39.5%;
    left: -3%;
  }
  .yen {
    position: absolute;
    top: -40vw;
    width: 40vw;
    height: 40vw;
  }
  .yeny{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .yen img {
    width: 100%;
    height: 100%;
  }

  .count_sak {
    position: absolute;
    left: 3%;
    top: 69%;

  }
  .count_sak h4 {
    font-family: webgame_1;
    font-size: 37px;
    line-height: 115px;
    letter-spacing: 0.415em;
    font-style: bold;
    color: #FF7596;
  }
  .tree {
    position: absolute;
    bottom: 10%;
    right: -45%;
    transform: rotate(90deg);
    width: 223.625vw;
    height: 141vw;
  }
  .tree img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .sakura {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .sakura img {
    position: absolute;
    width: 15vw;
    height: 15vw;
  }
  .sakura img:nth-of-type(1) {
    top: 49vw;
    right: 161vw;
  }
  .sakura img:nth-of-type(2) {
    top: 12vw;
    right: 183vw;
  }
  .sakura img:nth-of-type(3) {
    top: 52vw;
    right: 211vw;
  }
  .sakura img:nth-of-type(4) {
    top: 45vw;
    right: 45vw;
  }
  .sakura img:nth-of-type(5) {
    top: 52vw;
    right: 168vw;
  }
  .sakura img:nth-of-type(6) {
    top: 35vw;
    right: 120vw;
  }
  .sakura img:nth-of-type(7) {
    top: 78vw;
    right: 156vw;
  }
  .sakura img:nth-of-type(8) {
    top: 44vw;
    right: 144vw;
  }
  .sakura img:nth-of-type(9) {
    top: 40vw;
    right: 199vw;
  }
  .sakura img:nth-of-type(10) {
    top: 34vw;
    right: 159vw;
  }
  .sakura img:nth-of-type(11) {
    top: 21vw;
    right: 100vw;
  }
  .sakura img:nth-of-type(12) {
    top: 55vw;
    right: 190vw;
  }
  .sakura img:nth-of-type(13) {
    top: 14vw;
    right: 133vw;
  }
  .sakura img:nth-of-type(14) {
    top: 18vw;
    right: 187vw;
  }
  .sakura img:nth-of-type(15) {
    top: 75vw;
    right: 184vw;
  }
  .sakura img:nth-of-type(16) {
    top: 55vw;
    right: 144vw;
  }
  .sakura img:nth-of-type(17) {
    top: 7vw;
    right: 112vw;
  }
  .sakura img:nth-of-type(18) {
    top: 63vw;
    right: 111vw;
  }
  .sakura img:nth-of-type(19) {
    top: 47vw;
    right: 183vw;
  }
  .sakura img:nth-of-type(20) {
    top: -2vw;
    right: 128vw;
  }
  .sakura img:nth-of-type(21) {
    top: 53vw;
    right: 90vw;
  }
  .sakura img:nth-of-type(22) {
    top: 65vw;
    right: 162vw;
  }
  .sakura img:nth-of-type(23) {
    top: 4vw;
    right: 86vw;
  }
  .sakura img:nth-of-type(24) {
    top: -2vw;
    right: 142vw;
  }
  .sakura img:nth-of-type(25) {
    top: 45vw;
    right: 94vw;
  }
  .sakura img:nth-of-type(26) {
    top: 17vw;
    right: 121vw;
  }
  .sakura img:nth-of-type(27) {
    top: 28vw;
    right: 76vw;
  }
  .sakura img:nth-of-type(28) {
    top: 45vw;
    right: 64vw;
  }
  .sakura img:nth-of-type(29) {
    top: 6vw;
    right: 19vw;
  }
  .sakura img:nth-of-type(30) {
    top: 27vw;
    right: 140vw;
  }
  .sakura img:nth-of-type(31) {
    top: 35vw;
    right: 87vw;
  }
  .sakura img:nth-of-type(32) {
    top: 26vw;
    right: 46vw;
  }
  .sakura img:nth-of-type(33) {
    top: 57vw;
    right: 131vw;
  }
  .sakura img:nth-of-type(34) {
    top: 63vw;
    right: 123vw;
  }
  .sakura img:nth-of-type(35) {
    top: 120vw;
    right: 477vw;
  }
  .sakura img:nth-of-type(36) {
    top: 95vw;
    right: 184vw;
  }
  .sakura img:nth-of-type(37) {
    top: 26vw;
    right: 63vw;
  }
  .sakura img:nth-of-type(38) {
    top: 16vw;
    right: 67vw;
  }
  .sakura img:nth-of-type(39) {
    top: 27vw;
    right: 193vw;
  }
  .sakura img:nth-of-type(40) {
    top: 7vw;
    right: 35vw;
  }
  .sakura img:nth-of-type(41) {
    top: 57vw;
    right: 206vw;
  }
  .sakura img:nth-of-type(42) {
    top: 36vw;
    right: 13vw;
  }
  .sakura img:nth-of-type(43) {
    top: 61vw;
    right: 146vw;
  }
  .sakura img:nth-of-type(44) {
    top: 49vw;
    right: 215vw;
  }
  .sakura img:nth-of-type(45) {
    top: 13vw;
    right: 156vw;
  }
  .sakura img:nth-of-type(46) {
    top: 75vw;
    right: 163vw;
  }
  .sakura img:nth-of-type(47) {
    top: 27vw;
    right: 169vw;
  }
  .sakura img:nth-of-type(48) {
    top: 69vw;
    right: 127vw;
  }
  .sakura img:nth-of-type(49) {
    top: 53vw;
    right: 38vw;
  }
  .sakura img:nth-of-type(50) {
    top: 39vw;
    right: 194vw;
  }
  .sakura img:nth-of-type(51) {
    top: 85vw;
    right: 136vw;
  }
  .sakura img:nth-of-type(52) {
    top: 37vw;
    right: 24vw;
  }
  .knopka1 img:hover ~ .knop1, .knop1:hover, .knopka2 img:hover ~ .knop2, .knop2:hover, .knopka3 img:hover ~ .knop3, .knop3:hover{
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
  .back1 img:hover ~ .backy1, .backy1:hover, .help1 img:hover ~.helpy1, .helpy1:hover, .back2 img:hover ~ .backy2, .backy2:hover, .help2 img:hover ~.helpy2, .helpy2:hover, .back3 img:hover ~ .backy3, .backy3:hover {
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
  .help3 img:hover ~ .helpy3, .helpy3:hover, .tablet3 img:hover {
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
  .knop {
    animation: knopka 2s linear;
  }
  /* .knop1, .knop2, .knop3 {
    animation: blobee 15s ease infinite;
  } */
  @keyframes knopka {
    0% {}
    100% {transform: scale(13); }
  }
  .backy {
    animation: arrow 2s linear;
  }
  @keyframes arrow {
    0% {}
    100% {transform: scale(70); }
  }
  .opac {
    animation: opac 2s linear;
  }
  .show {
    animation: show 2s linear;
  }
  .showe1, .showe2, .showe3, .showe4 {
    animation: show 2s linear;
    animation-play-state: paused;
  }
  @keyframes opac {
    0% {opacity: 1}
    20% {opacity: 1}
    60%{opacity: 0}
    100% {opacity: 0}
  }
  @keyframes show {
    0% {opacity: 0}
    70%{opacity: 0}
    100% {opacity: 1}
  }
  .show-tablet {
    animation: show-tablet 2s linear;
  }
  @keyframes show-tablet {
    0% {opacity: 0}
    60% {opacity: 1}
    100% {opacity: 1}
  }

  .coinx {
    animation: coinx 0.5s alternate infinite linear;
  }
  .coiny {
    animation: coiny 1.5s normal forwards linear;
  }
  @keyframes coinx {
    0% {transform: translateX(-20vw)}
    100% {transform: translateX(90vw);}
  }
  @keyframes coiny {
    0% {top: -30%; transform: rotate(0deg);}
    100% {top: 130%; transform: rotate(180deg); }
  }
  .sakura img {
    transition: all .1s ease-out;
  }
  .sakura img:hover {
    transform: scale(1.1);
    transition: all .1s ease-out;
  }
  .fall {
    animation: fall 4s normal forwards linear;
  }
  @keyframes fall {
    0% {}
    25%{transform:translateX(2vw) rotate(25deg)}
    50%{transform:translateX(-2vw) rotate(50deg)}
    75%{transform:translateX(2vw) rotate(75deg)}
    100% {right:-100%; transform:translateX(-2vw) rotate(100deg)}
  }
}
